:root {
  --color-dark: #495057;
  --color-light: #f1f3f5;

  --color-item: #1098ad;
  --color-accent: #0b6674f2;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  background-color: var(--color-light);
  margin-top: 1em;
  width: 100%;
  text-align: center;
  padding: 0.5em 0;
}

.status {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2em;
  font-size: 1.5em;
}

.output {
  padding: 0 5px;
  border: solid 1px darkgray;
  border-radius: 10%;
  color: darkred;
  margin: 0 5px;
}

.btn {
  font-size: 1.25em;
  background-color: var(--color-item);
  color: white;
  padding: 0 0.25em;
  border: solid 1px darkslategray;
  border-radius: 5px;
  width: 7em;
}

.btn:hover {
  background-color: var(--color-accent);
  box-shadow: 0 0 5px var(--color-item);
}

.welcome {
  text-align: center;
  margin-top: 1em;
  font-size: 1.5em;
  color: var(--color-accent);
}

.welcome-btn {
  width: auto;
}

.welcome > img {
  margin: 0.5em 0;
  box-shadow: 0 0 10px lightblue;
}

.orders {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
  background-color: var(--color-light);
  padding: 1%;
  border: solid 1px lightblue;
  border-radius: 5px;
}

.how-much {
  margin-top: 1em;
  text-align: center;
}

.how-much > p > input,
.how-much > p > label {
  font-size: 1.25em;
}

.how-much > p > input {
  margin: 0 0.5em;
}

.btn-ok {
  width: auto;
}
