:root {
  --color-dark: #495057;
  --color-light: #f1f3f5;

  --color-item: #1098ad;
  --color-accent: #0b6674f2;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  background-color: var(--color-light);
  margin-top: 1em;
  width: 100%;
  text-align: center;
  padding: 0.5em 0;
}

.status {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2em;
  font-size: 1.5em;
}

.output {
  padding: 0 5px;
  border: solid 1px darkgray;
  border-radius: 10%;
  color: darkred;
  margin: 0 5px;
}
