:root {
  --color-dark: #495057;
  --color-light: #f1f3f5;

  --color-item: #1098ad;
  --color-accent: #0b6674f2;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  justify-content: center;
}

header {
  margin-top: 2em;
}
